@let softSkills = softSillsStore.getValue().softSkills;

<ng-container>
    <h2 class="text-white text-2xl font-bold mb-8">Soft Skills</h2>
    <div #scrollContainer class="flex flex-row gap-8 w-full overflow-x-auto pb-4 flex-nowrap hide-scrollbar">
        @for (softSkill of softSkills(); track softSkill.id) {
            <app-card 
                [width]="width" 
                [height]="height" 
                [bg]="bg"
                [title]="softSkill.name"
                [content]="softSkill.content"
                [border]="border"
            ></app-card>
        }
    </div>

    <app-custom-scrollbar [scrollContainer]="scrollContainer"></app-custom-scrollbar>
</ng-container>