<aside class="flex flex-col h-3/4 px-4 pt-5 bg-neutral-900 my-20 rounded-lg fixed">
    <div class="flex flex-col gap-5 items-center h-1/2">
        <div class="bg-neutral-800 p-3 rounded-md">
            <img src="" alt="">
        </div>

        <h1 class="text-white font-bold text-2xl">Guido Perman</h1>
        <span class="bg-neutral700 p-2 rounded-lg">
            <h2 class="text-white text-sm">Frontend Web Developer</h2>
        </span>
    </div>

    <div class="flex flex-col gap-5 items-center h-1/2">
        <app-info></app-info>
        <app-info></app-info>
        <app-info></app-info>
        <app-info></app-info>
        <app-info></app-info>
        <app-info></app-info>
        <app-info></app-info>
        <app-info></app-info>





    </div>

</aside>