@let profile = profileStore.getValue().profile;
@let isLoading = profileStore.getValue().isLoading;

@if (!isLoading()) {
    <aside class="flex flex-col h-[85vh] px-4 pt-5 bg-neutral-900 my-20 rounded-lg fixed border-neutral-700 border">
        <div class="flex flex-col gap-5 items-center">
            <div class="bg-neutral-800 p-3 rounded-full">
                <img class="rounded-full w-52 h-52 object-cover"
                    src="https://avatars.githubusercontent.com/u/38866056?s=400&u=6a139d0dc8540f5215f96d76f4d41d252d8e21ac&v=4"
                    alt="">
            </div>
    
            <h1 class="text-white font-bold text-2xl">{{profile().name}}</h1>
            <span class="bg-neutral-800 p-2 rounded-lg">
                <h2 class="text-white text-sm">{{profile().specialty}}</h2>
            </span>
        </div>
    
        <div class="flex flex-col gap-5 items-start h-2/4 mt-5">
            <app-info icon="contact" label="Email" value="{{profile().email}}"></app-info>
            <app-info icon="phone" label="Phone" value="{{profile().phone}}"></app-info>
            <app-info icon="birthday" label="Birthday" value="{{profile().birthDay}}"></app-info>
            <app-info icon="location" label="Location" value="{{profile().location}}"></app-info>
        </div>
    
        <div class="flex justify-center gap-1 h-1/4 mt-5">
            <a class="w-6 filter grayscale hover:grayscale-0 transition-all duration-300 cursor-pointer" href="">
                <img src="https://www.linkedin.com/favicon.ico" alt="">
            </a>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-6 w-6 filter grayscale cursor-pointer"
                style="color: #a3a3a3;">
                <path fill="currentColor"
                    d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9a17.56 17.56 0 003.8.4c8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1a102.4 102.4 0 01-22.6 2.7c-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1a63 63 0 0025.6-6c2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8a18.64 18.64 0 015-.5c8.1 0 26.4 3.1 56.6 24.1a208.21 208.21 0 01112.2 0c30.2-21 48.5-24.1 56.6-24.1a18.64 18.64 0 015 .5c12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5a19.35 19.35 0 004-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z">
                </path>
            </svg>
        </div>
    </aside>
}  
