<!-- Parent container with flex-wrap -->
<div class="flex flex-wrap gap-5 w-full">
    <div
        class="
            bg-[linear-gradient(to_bottom_right,_hsl(240,1%,20%)_3%,_hsl(0,0%,15%)_97%)] 
            h-40 w-[calc(50%-10px)] 
            flex 
            items-center
            justify-center 
            text-white 
            rounded-md 
            shadow-1"
            >
        Div 1
    </div>
    <div
        class="
            bg-[linear-gradient(to_bottom_right,_hsl(240,1%,20%)_3%,_hsl(0,0%,15%)_97%)] 
            h-40 w-[calc(50%-10px)] 
            flex 
            items-center 
            justify-center 
            text-white 
            rounded-md 
            shadow-1"
            >
        Div 1
    </div>
    <div
        class="
            bg-[linear-gradient(to_bottom_right,_hsl(240,1%,20%)_3%,_hsl(0,0%,15%)_97%)] 
            h-40 w-[calc(50%-10px)] 
            flex 
            items-center 
            justify-center 
            text-white 
            rounded-md 
            shadow-1"
            >
        Div 1
    </div>
    <div
        class="
            bg-[linear-gradient(to_bottom_right,_hsl(240,1%,20%)_3%,_hsl(0,0%,15%)_97%)] 
            h-40 w-[calc(50%-10px)] 
            flex 
            items-center 
            justify-center 
            text-white 
            rounded-md 
            shadow-1"
            >
        Div 1
    </div>
</div>