<div 
    [style.width]="width()" 
    [style.height]="height()" 
    [style.background]="bg()"
    [style.min-width]="minWidth()"
    [style.border]="border()"
    class="flex flex-col rounded-xl p-6 min-w-[22rem]"
>
    @if (cardType() === 'normal') {
        <div class="flex items-center mb-3">
            <div class="bg-gray-700 rounded-lg p-3 mr-4 flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-onyx" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
                </svg>
            </div>
            <span class="text-white font-semibold text-lg">{{ title() }}</span>
        </div>
        <p class="text-gray-300 text-sm">
            {{ content() }}
        </p>
    } @else if  (cardType() === 'icon') {
        <div class="flex items-center justify-center h-full">
            <img 
                [src]="imgUrl()" 
                alt="vscode" 
                width="45" 
                height="45"
                class="grayscale hover:grayscale-0 transition-all duration-300 cursor-pointer"
            />
        </div>
    } <!-- @else if (cardType() === 'percentage') {
        <div class="w-full h-full">
            <h1 class="text-white text-2xl font-bold mb-5">{{title()}}</h1>
        </div>
        
        
        
        
        <div class="flex items-center justify-center h-full">
            <div class="flex items-center justify-center">
                <span class="text-white font-bold text-lg">{{ title() }}</span>
            </div>
            <div class="w-full h-2 bg-gray-700 rounded-full">
                @for (percentageItem of percentageItems(); track percentageItem.name) {
                     <div class="h-2 bg-yellow-200 rounded-full" [style.width.%]="percentageItem.level"></div>
                }
            </div>
        </div>
    } -->
</div>