<header class="flex justify-between align-center h-20">
    <h1 class="text-white text-3xl font-bold mb-3 mt-5 p-5"> {{pageTitle()}} </h1>

    <nav class="absolute top-0 right-0 px-10 py-4 bg-neutral-700 rounded-bl-2xl rounded-tr-xl border-b border-l border-neutral-600">
        <ul class="flex gap-10">
            <li 
                routerLinkActive="text-yellow-300" 
                routerLink="/about"
                class="text-neutral-400 font-semibold text capitalize cursor-pointer hover:text-white">About</li>
            <li 
                routerLinkActive="text-yellow-300"
                routerLink="/resume"
                class="text-neutral-400 font-semibold text capitalize cursor-pointer hover:text-white">Resume</li>
            <li 
                routerLinkActive="text-yellow-300"
                routerLink="/portfolio"
                class="text-neutral-400 font-semibold text capitalize cursor-pointer hover:text-white">Portfolio</li>
            <!-- <li routerLink="/blog"
                class="text-neutral-400 font-semibold text capitalize cursor-pointer hover:text-white">Blog</li> -->
            <li 
                routerLink="/contact"
                routerLinkActive="text-yellow-300"
                class="text-neutral-400 font-semibold text capitalize cursor-pointer hover:text-white">Contact</li>
        </ul>
    </nav>

</header>