<header class="flex justify-between">
    <h1 class="text-white text-3xl font-bold mb-3">Title</h1>
    <nav class="absolute top-0 right-0 px-10 py-4 bg-neutral-700 rounded-bl-2xl border-b border-l border-neutral-600">
        <ul class="flex gap-10">
            <li routerLink="/about"
                class="text-neutral-400 font-semibold text capitalize cursor-pointer hover:text-white">About</li>
            <li routerLink="/resume"
                class="text-neutral-400 font-semibold text capitalize cursor-pointer hover:text-white">Resume</li>
            <li routerLink="/portfolio"
                class="text-neutral-400 font-semibold text capitalize cursor-pointer hover:text-white">Portfolio</li>
            <li routerLink="/blog"
                class="text-neutral-400 font-semibold text capitalize cursor-pointer hover:text-white">Blog</li>
            <li routerLink="/contact"
                class="text-neutral-400 font-semibold text capitalize cursor-pointer hover:text-white">Contact</li>
        </ul>
    </nav>
</header>