<div class="p-5">
    <p class="text-white text-justify">
        My job is to learn and to keep myself on the track. If you have any questions or if you want to work together,
        feel free to contact me.
    </p>

    <div class="grid grid-cols-2 gap-4 mb-4 mt-4">
        <input type="text" class="outline-none py-2 px-4 border border-gray-600 rounded-lg text-gray-400"
            placeholder="Full Name" />
        <input type="email" placeholder="Email"
            class="outline-none py-2 px-4 border border-gray-600 rounded-lg text-gray-400" />
    </div>
    <textarea placeholder="Your message" class="outline-none w-full p-4 border border-gray-600 rounded-lg text-gray-400"
        rows="5"></textarea>

    <button
        class="w-52 h-6 bg-gradient-to-br from-neutral-700 to bg-neutral-950 rounded-lg w-12 flex items-center justify-center text-onyx p-6 float-right my-4 font-medium gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            style="margin-right: 8px;">
            <path d="M22 2L11 13" />
            <polygon points="22 2 15 22 11 13 2 9 22 2" />
        </svg>
        <span>Send Message</span>
    </button>

</div>