@let resume = resumeStore.resume().content;

<div class="flex flex-col mt-5 p-5">
    <p class="text-white text-justify">
        {{ resume }}
    </p>

    <div class="mt-10">
        <h1 class="text-white text-2xl font-bold mb-5">What I do</h1>

        <app-what-i-do></app-what-i-do>
    </div>

    <!-- Soft Skills Section -->
    <div class="mt-16 max-w-4xl">
        <!-- TODO: This section should be filled with soft skills brought from backend -->
        <app-soft-skills></app-soft-skills>
    </div>

    <div class="mt-16 max-w-4xl">
        <!-- TODO: This section should be filled with tech experience brought from backend -->
        <app-tech-experience></app-tech-experience>
    </div>

</div>