<div class="flex justify-start gap-2 w-full">
    <div
        class="bg-gradient-to-br from-neutral-700 to bg-neutral-950 rounded-lg w-12 flex items-center justify-center text-yellow">
        <!-- <img 
            [src]="'icons/'+icon()+'.svg'" 
            [alt]="icon()" 
            class="w-6 h-6 filter-yellow-400 fill-current"
        > -->

        <div 
            class="w-6 h-6 bg-no-repeat bg-center text-onyx" 
            [style.backgroundImage]="'url(icons/'+icon()+'.svg)'"
            [style.filter]="'invert(88%) sepia(29%) saturate(1048%) hue-rotate(322deg) brightness(104%) contrast(96%)'"
        >
        </div>

    </div>
    <div class="ml-3">
        <h1 class="text-neutral-400 text-sm text-2xl">{{label()}}</h1>
        <p class="text-white text-sm"> {{value()}} </p>

    </div>



</div>